/* --------------------- global configurations -----------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background-color: white;
}
/* Globales */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0rem 0 2rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
img {
  max-width: 100%;
  display: block;
}

/*---------------  -----------------*/

.container {
  max-width: 120rem; /*120rem*/
  margin: 0 auto;
}

header {
  padding: 2rem;
}

img {
  width: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav__link a {
  text-decoration: none;
  color: #595a5f;
}

.nav__link a:hover {
  text-decoration: underline;
}

.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.heading {
  color: #ffffff;
  font-size: 9rem;
}

main {
  flex: 10;
}

.img__font {
  margin: 0 auto;
}

main .heading__google {
  width: 30rem;
  margin-top: 18rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  text-align: center;
}

main .heading {
  margin-top: 8rem;
  text-align: center;
  height: auto;
}

.google {
  padding: 1rem;
  border: 0.1rem solid #86878d;
  border-radius: 2rem;
  background-color: white;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.google__icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.google__container {
  max-width: 60rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.google__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.google__info a {
  background-color: #f2f2f2;
  text-decoration: none;
  color: #595a5f;
  font-size: 1.5rem;
  padding: 0.2rem 2rem;
  border: 0.1rem solid #595a5f;
  font-weight: 600;
  border-radius: 1rem;
}

.google__info a:hover {
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
}

.google__text p {
  text-align: center;
  color: #595a5f;
  font-size: 1.5rem;
  font-weight: 400;
}

.google__text span {
  color: #1b0eab;
  word-spacing: 0.5rem;
}

.google__text span a {
  text-decoration: none;
}

.google__text span a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.footer__country {
  padding: 1rem 2rem;
  color: #595a5f;
  font-weight: 700;
  margin: 0;
}

.footer__info {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.1rem solid rgb(190, 186, 186);
}

.about__google a,
.about__info a {
  color: #595a5f;
  text-decoration: none;
  font-weight: 700;
}

.about__google a:hover,
.about__info a:hover {
  color: #595a5f;
  text-decoration: underline;
  font-weight: 700;
}

.about__google {
  display: flex;
  gap: 4rem;
}

.about__info {
  display: flex;
  gap: 4rem;
}
